<?xml version='1.0' encoding='utf-8'?>
<widget id="io.ionic.starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cam Scan</name>
    <description>Cam Scanner, Camscanner, Scan PDF, Camera Scanner</description>
    <author email="hi@ionicframework.com" href="http://ionicframework.com/">Apple Dev</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <platform name="ios">
        <preference name="WKWebViewOnly" value="true" />
        <config-file parent="GADApplicationIdentifier" target="*-Info.plist">
            <string>ca-app-pub-8101472569617426~7710027537</string>
        </config-file>
        <config-file parent="GADIsAdManagerApp" target="*-Info.plist">
            <true />
        </config-file>
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>App require access camera to allow you to take photo for create pdf document.</string>
        </config-file>
        <config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
            <string>App require access to your camera to allow you to select photo for create pdf document.</string>
        </config-file>
        <config-file parent="NSPhotoLibraryAddUsageDescription" target="*-Info.plist">
            <string>App require access to your camera to allow you to select photo for create pdf document.</string>
        </config-file>
        <config-file parent="NSBluetoothAlwaysUsageDescription" target="*-Info.plist">
            <string>App require access to bluetooth for proper functionality.</string>
        </config-file>
        <config-file parent="SKAdNetworkItems" target="*-Info.plist">
            <array>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>cstr6suwn9.skadnetwork</string>
                </dict>
            </array>
        </config-file>
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="57" src="resources/ios/icon/icon.png" width="57" />
        <icon height="29" src="resources/ios/icon/29.png" width="29" />
        <icon height="40" src="resources/ios/icon/40.png" width="40" />
        <icon height="57" src="resources/ios/icon/57.png" width="57" />
        <icon height="58" src="resources/ios/icon/58.png" width="58" />
        <icon height="60" src="resources/ios/icon/60.png" width="60" />
        <icon height="80" src="resources/ios/icon/80.png" width="80" />
        <icon height="87" src="resources/ios/icon/87.png" width="87" />
        <icon height="114" src="resources/ios/icon/114.png" width="114" />
        <icon height="120" src="resources/ios/icon/120.png" width="120" />
        <icon height="180" src="resources/ios/icon/180.png" width="180" />
        <icon height="1024" src="resources/ios/icon/1024.png" width="1024" />
        <splash height="480" src="resources/ios/splash/Default~iphone.png" width="320" />
        <splash height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640" />
        <splash height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="resources/ios/splash/Default-667h.png" width="750" />
        <splash height="2208" src="resources/ios/splash/Default-736h.png" width="1242" />
        <splash height="2436" src="resources/ios/splash/Default-2436h.png" width="1125" />
        <splash height="2732" src="resources/ios/splash/Default@2x~universal~anyany.png" width="2732" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="2.4.2" />
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="5.0.2" />
    <plugin name="cordova-plugin-ionic-webview" spec="^5.0.0" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="^2.0.5" />
</widget>
