<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Scan Id Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="p-10">
      <ion-card-title>Front</ion-card-title>
    </ion-card-header>

    <ion-card-content class="p-10">
      <img src="assets/idcard.jpg">
    </ion-card-content>

    <div class="action-btn">
      <ion-icon name="camera-outline" style="margin-right: 10px;"></ion-icon>
      <ion-icon name="image-outline"></ion-icon>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header class="p-10">
      <ion-card-title>Back</ion-card-title>
    </ion-card-header>

    <ion-card-content class="p-10">
      <img src="assets/idcard.jpg">
    </ion-card-content>

    <div class="action-btn">
        <ion-icon name="camera-outline" style="margin-right: 10px;"></ion-icon>
        <ion-icon name="image-outline"></ion-icon>
      </div>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar color="primary">
    <ion-button color="light" expand="block" fill="outline">Save</ion-button>
  </ion-toolbar>
</ion-footer>