.tools-box {
  .icon {
    font-size: 25px;
    color: #009688;
    border: 1px solid #e2e2e2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 6px;
    margin: 0 auto;
  }

  .title {
    font-size: 11px;
    padding-top: 10px;
    color: #1b1b1b;
  }
}

.recent-doc-title {
  font-size: 16px;
  font-weight: 600;
}