.doc-ni-body {
	height: 160px;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

.action-footer {
    background: #f7f7f7;
    
    ion-icon {
        background: #cdcdcd;
        padding: 5px;
        color: #222428;
        border-radius: 12px;
    }
}
